.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.service-mark {
  display: block;
}

.service-mark p {
  float: left;
  width: 85%;
}

.service-mark img {
  float: left;
  width: 2.5em;
  height: auto;
  margin: 0.6em 0.75em 0.6em 0.5625em;
}

.service-icon {
  margin-left: 1.2em;
}
